body {
  font-family: Arial;
  text-align: center;
}

#map {
  padding: 100px 100px;
  height: 500px;
  width: 50%;
  margin: auto;
  border: 2px solid #444;
}

.state-label {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
}

#yearSelect {
  font-size: 22px;      /* bigger text */
  padding: 10px 18px;   /* bigger clickable area */
  width: 360px;         /* wider box */
  border-radius: 8px;   /* rounded edges */
  border: 2px solid #444;
  background-color: #f3f3f3;
  cursor: pointer;
}

#yearInfo {
  font-size: 24px;      /* bigger text */
}
