body {
  font-family: Arial;
  text-align: center;
}

#map {
  width: 500px;            /* fixed width */
  height: 500px;           /* same as width to make it square */
  margin: 50px auto;       /* center horizontally and add vertical spacing */
  padding: 10px;           /* optional padding inside the container */
  border: 2px solid #444;  /* border for visibility */
/*  box-sizing: border-box;  /* include padding in width/height */
}

//*#map {
  padding: 10px 10px;
  height: 3px;
  width: 50%;
  margin: auto;
  border: 2px solid #444;
}

.state-label {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
}

#yearSelect {
  font-size: 22px;      /* bigger text */
  padding: 10px 18px;   /* bigger clickable area */
  width: 360px;         /* wider box */
  border-radius: 8px;   /* rounded edges */
  border: 2px solid #444;
  background-color: #f3f3f3;
  cursor: pointer;
}

#yearInfo {
  font-size: 24px;      /* bigger text */
}
