body {
  font-family: Arial;
  text-align: center;
}

#map {
  height: 600px;
  width: 100%;
  margin: auto;
  display: flex;
/*  justify-content: center; /* Centers horizontally */
 align-items: center;    /* Centers vertically */
  border: 2px solid #444;
}

.state-label {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
}

#yearSelect {
  font-size: 22px;      /* bigger text */
  padding: 10px 18px;   /* bigger clickable area */
  width: 260px;         /* wider box */
  border-radius: 8px;   /* rounded edges */
  border: 2px solid #444;
  background-color: #f3f3f3;
  cursor: pointer;
}

#yearInfo {
  font-size: 24px;      /* bigger text */
}
